body {
  margin: 40px 20px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
}

#container {
  max-width: 1200px;
}

.ref-table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
}

.ref-table th,
.ref-table td {
  padding: 7px 4px;
  border: 1px solid #fff;
}

.ref-table th {
  vertical-align: middle;
  background-color: #bfbfbf;
  text-align: left;
}

.ref-table .ref-table__header--main-group {
  width: 3%;
  background-color: #fff;
}

.ref-table .ref-table__header--group {
  width: 13%;
}

.ref-table .ref-table__header--drug {
  width: 13%;
}

.ref-table .ref-table__header--gram-positive,
.ref-table .ref-table__header--gram-negative {
  font-size: 14px;
  text-align: center;
}

.ref-table .ref-table__header--gram-positive {
  width: 25%;
  background-color: #ff2712;
}

.ref-table .ref-table__header--gram-negative {
  width: 20%;
  background-color: #ffff33;
}

.ref-table .ref-table__header--bacteria {
  vertical-align: bottom;
  font-weight: normal;
}

.ref-table .ref-table__header--bacteria.ref-table--mycoplasma {
  width: 6%;
}

.ref-table .ref-table__header--bacteria.ref-table--anaerobes {
  width: 7%;
}

.ref-table .ref-table__header--indication {
  width: 13%;
  background-color: #00bafb;
}

.ref-table .ref-table--streptococci {
  background-color: #ff2712;
}

.ref-table .ref-table--s-aureus {
  background-color: #fe4940;
}

.ref-table .ref-table--enterococci {
  background-color: #ffa49f;
}

.ref-table .ref-table--h-influenzae {
  background-color: #fdc131;
}

.ref-table .ref-table--e-coli {
  background-color: #ffff33;
}

.ref-table .ref-table--pseudomonas {
  background-color: #558e28;
}

.ref-table .ref-table--mycoplasma {
  background-color: #da77fe;
}

.ref-table .ref-table--anaerobes {
  background-color: #808080;
}

.ref-table .ref-table--weak {
  background-image: repeating-linear-gradient(45deg, #fff, #fff 3px, rgba(255, 255, 255, 0) 3px, rgba(255, 255, 255, 0) 6px);
}

.ref-table td {
  background-color: #f2f2f2;
}

.ref-table .ref-table__main-group__label {
  margin: 0 -100%;
  font-weight: bold;
  white-space: nowrap;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}

.ref-table .ref-table__group--cephalosporins {
  background-color: #cadbfe;
}

.ref-table .ref-table__group--carbapenems {
  background-color: #98b7fe;
}

.ref-table .ref-table__drug {
  font-weight: bold;
}

.ref-table .ref-table__drug--secondary {
  font-weight: normal;
}

.ref-table .ref-table__drug--iv::after {
  content: "*";
}

#footnote {
  margin-top: 20px;
  font-style: italic;
}
